.list {
  display: grid;
  grid-row-gap: 50px;
  list-style: circle !important;
}
.item {
  display: grid;
  grid-row-gap: 25px;
  position: relative;
  margin-left: 25px;
}
.item::before{
    content: '';
    position: absolute;
    top: 12px;
    left: -35px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}
